<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Game Roulette</title>
  <meta name="description" content="xxx">
  <meta name="author" content="Nate Woods">
  <link rel="stylesheet" href="{{prefix}}/static/bootstrap.min.css">
  <link rel="stylesheet" href="{{prefix}}/static/css.css">
  <link href="{{prefix}}/static/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
  <div class="container container-narrow">
    <div class="header clearfix">
      <!--<nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation">
            <a href="/about">About</a>
          </li>
        </ul>
      </nav>-->
      <h3 id="top"><a href="{{prefix}}/" class="text-muted">Game Roulette</a></h3>
    </div>

    {{block "body" .Data}}{{end}}

    <footer class="footer">
      <p>&copy; {{.Year}} <a href="https://bign8.info/contact">Nate Woods</a></p>
    </footer>
  </div>
  {{block "code" .}}{{end}}
</body>
</html>
